.statsmain{
    color: #47525E;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
}

.userstats{
    display: flex;
    flex: content;
    flex-direction: column;
    text-align: center;
}

.globalstats{
    display: flex;
    flex: content;
    flex-direction: column;
}