<!DOCTYPE html>
<html lang="es-MX">
    <head>
        <meta charset="utf-8">
        <title>¿Por qué STEAM?</title>
        {% load static %}
        <link rel="shortcut icon" href="{% static 'img/icon.svg'%}">
        <link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/AcercaSTEM.css'%}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <nav class="nav-bar">
            <ul>
              <li><a href="/index.html">Iniciar Juego</a></li>
              <li><a href="/acercaDe.html">Acerca de</a></li>
              <li><a href="/Statistics.html">Estadísticas</a></li>
              <li><a class="active" href="/porQueStem.html">¿Por qué STEM?</a></li>
              <li><a href="/AboutUs.html" >¿Quiénes somos?</a></li>          
            </ul>
        </nav>
        <div class="imageHolder">
            <img src="{% static 'img/BannerImg.png'%}" alt="Banner"/>
        </div>
        <div class="data">
            <div class="info">
                <h2>STEM</h2>
                <p>STEM es una tendencia mundial que promueve la enseñanza de Ciencias, Tecnología, Ingeniería y Matemáticas (por sus siglas en inglés) como pilares para el desarrollo sostenible y bienestar social.</p>
            </div>
            <div class="image">
                <img src="{% static 'img/stem.jpg'%}" alt="StemImg">
            </div>
            <div class="image">
                <img src="{% static 'img/steam.jpg'%}" alt="SteamImg">
            </div>
            <div class="info">
                <h2 id="largo">La Diferencia entre STEM y STEAM</h2>
                <p>A STEM se le ha incorporado la letra A (de arte) para hacer evidente la presencia del pensamiento creativo y del desarrollo de las habilidades socioemocionales: STEAM</p>
            </div>
        </div>
    </body>
</html>
